<div class="crud_container" number = 0 group="" paper="">
    <div class="crud_sub_container">
      <button class="all_button crud_button">
        <i class="fa-solid fa-plus crud_icon"></i>
      </button>
      <button class="all_button crud_button">
        <i class="fa-solid fa-pencil crud_icon"></i>
      </button>
      <button class="all_button crud_button">
        <i class="fa-solid fa-trash crud_icon"></i>
      </button>
    </div>
  </div>