<div id="page_invest" class="industryPage">
    <div class="sitt_container">
                <div class="invest_container">
                    <%for(var i = 0; i < 3; i++){%>
                        <div class="invest_year_container">
                            <div class="invest_text">
                                <p>Ano <%=i+1%></p>
                            </div>
                            <div class="pre_big_circle" ><canvas class="big_circle"></canvas></div>
                            <div class="tooltip"><p class="tooltip_text"></p></div>
                            <div class="invest_legends_container">
                                <div class="invest_legends">
                                    <div class="invest_square_ligth"></div>
                                    <p>Ações</p>
                                </div>
                                <div class="invest_legends">
                                    <div class="invest_square_dark"></div>
                                    <p>Cripto</p>
                                </div>
                            </div>
                        </div>
                    <%}%>
                    <div class="invest_legends">

                    </div>
                </div>
    </div>
</div>