<div id="page_sucess" class="industryPage">
    <div class="sitt_container">
        <%if(size > 24){%>
            <button class="sucess_pass_button sucess_button_left"><i class="fa-solid fa-chevron-left crud_icon button_project_pass_icon"></i></button>
        <%}else{%>
            <div class="sucess_pass_fake_button"></div>
        <%}%>
        <%if(size > 0){%>
            <div class="sucess_container">
                <div class="sucess_top_container">
                    <div class="sucess_legends_row"><p>Meta</p><div class="sucess_square_green"></div></div>
                    <div class="sucess_legends_row"><p>Real</p><div class="sucess_square_orange"></div></div>
                    <div class="sucess_legends_row"><p>Objetivo</p><div class="sucess_square_yellow"></div></div>
                </div>
                <div class="sucess_pre_bot_container">

                </div>
            </div>
        <%}%>
        <%if(size > 24){%>
            <button class="sucess_pass_button sucess_button_rigth"><i class="fa-solid fa-chevron-right crud_icon button_project_pass_icon"></i></button>
        <%}else{%>
            <div class="sucess_pass_fake_button"></div>
        <%}%>
    </div>
</div>