<div id="page_top" class="industryPage">
    <div class="sitt_container">
        <div class="top_container">
            <div class="top_cima_container">
                <div class="top_square_left">
                    <h1 class="top_tilte">Custo</h1>
                    <canvas class="top_circle"></canvas>
                    <p class="top_text"></p>
                </div>
                <div class="top_square_mid">
                <h1 class="top_tilte">Qualidade</h1>
                    <canvas class="top_circle"></canvas>
                    <p class="top_text"></p>
                </div>
                <div class="top_square_rigth">
                    <h1 class="top_tilte">Flexibilidade</h1>
                    <canvas class="top_circle"></canvas>
                    <p class="top_text"></p>
                </div>
            </div>
            <div class="top_baixo_container">
                <div class="top_square_left">
                    <h1 class="top_tilte">Velocidade</h1>
                    <canvas class="top_circle"></canvas>
                    <p class="top_text"></p>
                </div>
                <div class="top_square_mid">
                    <h1 class="top_tilte">Confiabilidade</h1>
                    <canvas class="top_circle"></canvas>
                    <p class="top_text"></p>
                </div>
                <div class="top_square_rigth">
                    <h1 class="top_tilte">Inovação</h1>
                    <canvas class="top_circle"></canvas>
                    <p class="top_text"></p>
                </div>
            </div>
        </div>
    </div>
</div>