<div class="ACR_container_vertical">
    <div class="ACR_sub_container ACR_space">
      <input type="submit" class="all_button ACR_button" value="" />
      <i class="fa-solid fa-check button_ACR_icon"></i>
    </div>
    <div class="ACR_sub_container">
      <input type="button" class="all_button ACR_button" value="" />
      <i class="fa-solid fa-x button_ACR_icon"></i>
    </div>
  </div>