<div class="ConCli_page_button_scrollbar">
  <div class="button_scrollbar_container"></div>

  <hr class="ConCli_middle_line" />
  <form class="ConCli_info_container" method="post">
    <div class="row_container">
      <div class="column_container column_size_mediun">
        <label class="label_1">Nome da Unidade</label>
        <input type="text" class="input_1" name="UN_NOME" required />
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_1">Endereço Comercial</label>
        <input type="text" class="input_1" name="UN_END" />
      </div>
      <div class="column_container column_size_small">
        <label class="label_1">Número</label>
        <input type="text" class="input_1 num" name="UN_NUM" />
      </div>
    </div>

    <div class="row_container">
      <div class="column_container column_size_mediun">
        <label class="label_1">Bairro</label>
        <input type="text" class="input_1" name="UN_BAIR" />
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_1">Complemento</label>
        <input type="text" class="input_1" name="UN_CMPL" />
      </div>
      <div class="column_container column_size_small">
        <label class="label_1">CEP</label>
        <input type="text" class="input_1 cep" name="UN_CEP" />
      </div>
    </div>

    <div class="row_container">
      <div class="column_container column_size_big">
        <label class="label_1">Município</label>
        <input type="text" class="input_1" name="UN_MUNI" />
      </div>
      <div class="column_container column_size_small">
        <label class="label_1">Estado</label>
        <input type="text" class="input_1" name="UN_ESTADO" />
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_1">Pais</label>
        <input type="text" class="input_1" name="UN_PAIS" />
      </div>
      <input type="hidden" name="ID" />
      <input type="hidden" name="IDEMP" />
    </div>

    <%- include("../../Templates/ACR/acr_1",{tipo:"client"})%>
  </form>
</div>
