<button class="all_button config_object_button" num=-1>Permissões</button>
<form class="config_object_continer" method="post" action="/forms/EditPermission">
    <div class="config_permission_container">
        <div>
            <label class="permission_label">Administrador/Manutenção</label>
            <div class="permission_row">
                <div class="permission_column">
                    <label>CRUD</label>
                    <label> Create </label>
                    <label> Edit </label>
                    <label> Delete </label>
                </div>
                <div class="permission_column">
                    <label>CONSULTORIA</label>
                    <input type="checkbox" class="permission_input" name="create_consultoria_adm">
                    <input type="checkbox" class="permission_input" name="edit_consultoria_adm">
                    <input type="checkbox" class="permission_input" name="delete_consultoria_adm">
                </div>
                <div class="permission_column">
                    <label>CLIENTE</label>
                    <input type="checkbox" class="permission_input" name="create_cliente_adm">
                    <input type="checkbox" class="permission_input" name="edit_cliente_adm">
                    <input type="checkbox" class="permission_input" name="delete_cliente_adm">
                </div>
                <div class="permission_column">
                    <label>CONFIGURAÇÃO</label>
                    <input type="checkbox" class="permission_input" name="create_config_adm">
                    <input type="checkbox" class="permission_input" name="edit_config_adm">
                    <input type="checkbox" class="permission_input" name="delete_config_adm">
                </div>
                <div class="permission_column">
                    <label>WORKSHOP</label>
                    <input type="checkbox" class="permission_input" name="create_workshop_adm">
                    <input type="checkbox" class="permission_input" name="edit_workshop_adm">
                    <input type="checkbox" class="permission_input" name="delete_workshop_adm">
                </div>
            </div>
        </div>
        <div>
            <label class="permission_label">Respondente</label>
            <div class="permission_row">
                <div class="permission_column">
                    <label>CRUD</label>
                    <label> Create </label>
                    <label> Edit </label>
                    <label> Delete </label>
                </div>
                <div class="permission_column">
                    <label>CONSULTORIA</label>
                    <input type="checkbox" class="permission_input" name="create_consultoria_respondente">
                    <input type="checkbox" class="permission_input" name="edit_consultoria_respondente">
                    <input type="checkbox" class="permission_input" name="delete_consultoria_respondente">
                </div>
                <div class="permission_column">
                    <label>CLIENTE</label>
                    <input type="checkbox" class="permission_input" name="create_cliente_respondente">
                    <input type="checkbox" class="permission_input" name="edit_cliente_respondente">
                    <input type="checkbox" class="permission_input" name="delete_cliente_respondente">
                </div>
                <div class="permission_column">
                    <label>CONFIGURAÇÃO</label>
                    <input type="checkbox" class="permission_input" name="create_config_respondente">
                    <input type="checkbox" class="permission_input" name="edit_config_respondente">
                    <input type="checkbox" class="permission_input" name="delete_config_respondente">
                </div>
                <div class="permission_column">
                    <label>WORKSHOP</label>
                    <input type="checkbox" class="permission_input" name="create_workshop_respondente">
                    <input type="checkbox" class="permission_input" name="edit_workshop_respondente">
                    <input type="checkbox" class="permission_input" name="delete_workshop_respondente">
                </div>
            </div>
        </div>
        <div>
            <label class="permission_label">Líder/Encarregado de Equipe (Cliente)</label>
            <div class="permission_row">
                <div class="permission_column">
                    <label>CRUD</label>
                    <label> Create </label>
                    <label> Edit </label>
                    <label> Delete </label>
                </div>
                <div class="permission_column">
                    <label>CONSULTORIA</label>
                    <input type="checkbox" class="permission_input" name="create_consultoria_lidercliente">
                    <input type="checkbox" class="permission_input" name="edit_consultoria_lidercliente">
                    <input type="checkbox" class="permission_input" name="delete_consultoria_lidercliente">
                </div>
                <div class="permission_column">
                    <label>CLIENTE</label>
                    <input type="checkbox" class="permission_input" name="create_cliente_lidercliente">
                    <input type="checkbox" class="permission_input" name="edit_cliente_lidercliente">
                    <input type="checkbox" class="permission_input" name="delete_cliente_lidercliente">
                </div>
                <div class="permission_column">
                    <label>CONFIGURAÇÃO</label>
                    <input type="checkbox" class="permission_input" name="create_config_lidercliente">
                    <input type="checkbox" class="permission_input" name="edit_config_lidercliente">
                    <input type="checkbox" class="permission_input" name="delete_config_lidercliente">
                </div>
                <div class="permission_column">
                    <label>WORKSHOP</label>
                    <input type="checkbox" class="permission_input" name="create_workshop_lidercliente">
                    <input type="checkbox" class="permission_input" name="edit_workshop_lidercliente">
                    <input type="checkbox" class="permission_input" name="delete_workshop_lidercliente">
                </div>
            </div>
        </div>
        <div>
            <label class="permission_label">Consultor</label>
            <div class="permission_row">
                <div class="permission_column">
                    <label>CRUD</label>
                    <label> Create </label>
                    <label> Edit </label>
                    <label> Delete </label>
                </div>
                <div class="permission_column">
                    <label>CONSULTORIA</label>
                    <input type="checkbox" class="permission_input" name="create_consultoria_consultor">
                    <input type="checkbox" class="permission_input" name="edit_consultoria_consultor">
                    <input type="checkbox" class="permission_input" name="delete_consultoria_consultor">
                </div>
                <div class="permission_column">
                    <label>CLIENTE</label>
                    <input type="checkbox" class="permission_input" name="create_cliente_consultor">
                    <input type="checkbox" class="permission_input" name="edit_cliente_consultor">
                    <input type="checkbox" class="permission_input" name="delete_cliente_consultor">
                </div>
                <div class="permission_column">
                    <label>CONFIGURAÇÃO</label>
                    <input type="checkbox" class="permission_input" name="create_config_consultor">
                    <input type="checkbox" class="permission_input" name="edit_config_consultor">
                    <input type="checkbox" class="permission_input" name="delete_config_consultor">
                </div>
                <div class="permission_column">
                    <label>WORKSHOP</label>
                    <input type="checkbox" class="permission_input" name="create_workshop_consultor">
                    <input type="checkbox" class="permission_input" name="edit_workshop_consultor">
                    <input type="checkbox" class="permission_input" name="delete_workshop_consultor">
                </div>
            </div>
        </div>
        <div>
            <label class="permission_label">Líder/Encarregado de Equipe (Consultoria)</label>
            <div class="permission_row">
                <div class="permission_column">
                    <label>CRUD</label>
                    <label> Create </label>
                    <label> Edit </label>
                    <label> Delete </label>
                </div>
                <div class="permission_column">
                    <label>CONSULTORIA</label>
                    <input type="checkbox" class="permission_input" name="create_consultoria_liderconsultor">
                    <input type="checkbox" class="permission_input" name="edit_consultoria_liderconsultor">
                    <input type="checkbox" class="permission_input" name="delete_consultoria_liderconsultor">
                </div>
                <div class="permission_column">
                    <label>CLIENTE</label>
                    <input type="checkbox" class="permission_input" name="create_cliente_liderconsultor">
                    <input type="checkbox" class="permission_input" name="edit_cliente_liderconsultor">
                    <input type="checkbox" class="permission_input" name="delete_cliente_liderconsultor">
                </div>
                <div class="permission_column">
                    <label>CONFIGURAÇÃO</label>
                    <input type="checkbox" class="permission_input" name="create_config_liderconsultor">
                    <input type="checkbox" class="permission_input" name="edit_config_liderconsultor">
                    <input type="checkbox" class="permission_input" name="delete_config_liderconsultor">
                </div>
                <div class="permission_column">
                    <label>WORKSHOP</label>
                    <input type="checkbox" class="permission_input" name="create_workshop_liderconsultor">
                    <input type="checkbox" class="permission_input" name="edit_workshop_liderconsultor">
                    <input type="checkbox" class="permission_input" name="delete_workshop_liderconsultor">
                </div>
            </div>
        </div>
        <%- include("../../Templates/ACR/acr_4")%>
        <span class="permi_valores ghost"><%=permission%></span>
    </div>
</form>