<div class="radio_container size_content">
    <%let radio = "PDyesno"+ g + num %>
    <div class="radio_sub_container">
        <input type="radio" name=<%=radio%> class="radio_input_1" value="1">Sim / Maior / verdadeiro</input>
    </div>
    <div class="radio_sub_container">
        <input type="radio" name=<%=radio%> class="radio_input_1" value="0">Não / Menor / Falso</input>
    </div>    
</div>