<div class="temas_container size_content" cont=0>
  <div class="temas_column">
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Machine Learning</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Internet of Things (IoT)</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Robotização</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Realidade Estendida (3D, RA, RV, xR)</label>
    </div>
  </div>
  <div class="temas_column">
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Simulação Digital e Gêmeos Digitais</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Robotic Process Automation (RPA)</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Cloud Computing</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Sistema de Visão</label>
    </div>
  </div>
  <div class="temas_column">
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Advanced Planning and Scheduling (APS)</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Manufacturing Execution System</label>
    </div>
    <div class="temas_row">
      <input type="checkbox" class="temas_input"/>
      <label class="temas_label">Cybersecurity</label>
    </div>
  </div>
</div>
