<div class="main_content">
    <%- include ("ContentPages/details", {num, companys}); %>
    <%- include ("ContentPages/units", {num, units}); %>
    <%- include ("ContentPages/contacts", {num, contacts, companys}); %>
    <%- include ("ContentPages/schedule", {num, schedules}); %>
</div>