<nav class="navegation_container navegation_change">
  <button class="all_button nav_button nav_route_interview">
    Anexar Arquivo
  </button>
  <button class="all_button nav_button nav_route_interview">Anotações</button>
</nav>
