<nav class="navegation_container">
  <%for(var i = 0; i < abas.length; i++) { %>
  <button class="all_button nav_button"><%=abas[i]%></button>
  <% } %>
  <select class="consultancy_select"></select>
  <span class="square square_blue"></span>
</nav>
