<nav class="navegation_container navegation_change">
  <button class="all_button nav_button nav_route">Consultoria</button>
  <button class="all_button nav_button nav_route" company_client=<%=company_id%>>Clientes</button>
  <button class="all_button nav_button nav_route">Configurações</button>
  <button class="all_button nav_button nav_route">Workshops</button>
</nav>
