<div class="main_content_page">
  <div class="main_scrollbar_oper_container"></div>
  <form class="main_data" method="post" action="/interview" color="crimson">
    <div class="row_container">
      <div class="column_container column_size_small">
        <label class="label_2">Tarefa</label>
        <input type="text" class="input_2 input_form" name="task"></input>
      </div>
      <div class="column_container column_size_small">
        <label class="label_2">Data Prevista</label>
        <input type="text" class="input_2 input_form" name="dp"></input>
      </div>
      <div class="column_container column_size_small">
        <label class="label_2">Data de Início Real</label>
        <input type="text" class="input_2 input_form" name="dir"></input>
      </div>
      <div class="column_container column_size_small">
        <label class="label_2">Data de Termino Real</label>
        <input type="text" class="input_2 input_form" name="dtr"></input>
      </div>
      <div class="column_container column_size_small">
        <label class="label_2">Status</label>
        <input type="text" class="input_2 input_form" name="Status"></input>
      </div>

      <input type="hidden" class="input_2 input_form" name="name_oper"></input>
      <input type="hidden" class="input_2 input_form" name="IDTAREFA"></input>
      <input type="hidden" class="input_2 input_form" name="IDOPER"></input>
      <input type="hidden" class="input_2 input_form" name="IDSCH"></input>

    </div>
    <input type="submit" class="all_button interview_start_button" value="Iniciar tarefa" door="close">

  </form>

</div>