<aside class="left_side">
  <h1 class="CNI">CNI</h1>
  <%if(company != -1){%>
    <div class="leftside_padding">
      <button class="all_button leftside_button only_side" company_left_side=<%=company%> >Benchmark da Empresa</button>
    </div>
  <%}%>
</aside>
