<aside class="left_side">
  <h1 class="CNI">CNI</h1>
  <div class="button-container">
    <button class="all_button leftside_button normal_side">
      Benchmark da Industria
    </button>
    <button class="all_button leftside_button normal_side" company_left_side=<%=company_id%>
      >Benchmark da Empresa
    </button>
  </div>
</aside>
