<div class="ConCli_page_button_scrollbar">
  <div class="button_scrollbar_container"></div>
  <hr class="ConCli_middle_line" />
  <form class="ConCli_info_container" method="post">
    <div class="row_container">
      <div class="column_container column_size_mediun">
        <label class="label_1">Consultor</label>
        <input type="text" class="input_1" name="CONSULTOR" required />
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_1">Especialização</label>
        <input type="text" class="input_1" name="CSTR_ESPEC" required />
      </div>
    </div>

    <div class="row_container">
      <div class="column_container column_size_big">
        <label class="label_1">Entre em contato com o eMail</label>
        <input type="text" class="input_1" name="CSTR_EMAIL" required />
      </div>
      <div class="column_container column_size_mediun">
        <label class="label_1">Telefone Comercial</label>
        <input type="text" class="input_1 tel" name="CSTR_TEL" required />
      </div>
    </div>

    <div class="row_container">
      <div class="column_container">
        <label class="label_1">Papel</label>
        <div class="select_container">
          <select class="ConCli_select" name="IDPAPEL">
            <option>Líder/Encarregado de Equipe (Consultoria)</option>
            <option>Consultor</option>
          </select>
          <span class="square square_black"></span>
        </div>
      </div>
      <div class="column_container">
        <label class="label_1">Lingua</label>
        <div class="select_container">
          <select class="ConCli_select" name="CSTR_LINGUA">
            <option>pt-BR</option>
            <option>en-US</option>
          </select>
          <span class="square square_black"></span>
        </div>
      </div>
      <div class="column_container">
        <label class="label_1">Status</label>
        <div>
          <input type="radio" name="status_consultant" value="1" required />
          <label>Ativo</label>
        </div>
        <div>
          <input type="radio" name="status_consultant" value="0" required />
          <label>Bloqueado</label>
        </div>
      </div>
      <input type="hidden" name="ID" />
      <input type="hidden" name="IDCONS" />
      <input type="hidden" name="NAMECONS" />
    </div>

    <%- include("../../Templates/ACR/acr_1", {tipo:"consult"})%>
  </form>
</div>
