<div id="page_maturity">
  <div class="mmk_container"><%=company%></div>
  <div class="maturity_container">
    <div class="maturity_top_container">
      <div class="maturity_level">
        <button class="maturity_level_text">Niveis de Maturidade</button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          0 - Manual Operações executadas de forma manual com registros em papel
          ou planilha eletrônica
        </button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          1 - Computadorização + Implementado - Inicial (Piloto) + Integrado
          manualmente + Quantidade de apontamentos Manuais: Muito Alta +
          Governança Informal
        </button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          2 - Conectividade Processos + Implementado - Parcial + Integrado
          manualmente + Quantidade de apontamentos Manuais: Alta + Governança
          Informa
        </button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          3 - Visibilidade + Implementado - Completo + Integrado manualmente +
          Quantidade de apontamentos Manuais: Média + Governança Básica
        </button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          4 - Transparência + Implementado - Completo + Integrado sistemicamente
          + Quantidade de apontamentos Manuais: Baixa + Governança Formal
        </button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          5 - Preditividade + Integrado e apoiado por sistemas especialistas
        </button>
      </div>
      <div class="maturity_level">
        <button class="maturity_level_text">
          6 - Adaptabilidade + Integrado e apoiado por Algoritmos de
          Inteligência Artificial
        </button>
      </div>
    </div>
    <div class="maturity_bot_container">
      <div class="maturity_legends">
        <div class="maturity_dimensions_container">Dimensões</div>
        <div class="maturity_legends_right">
          <div class="maturity_legends_row">
            <button class="maturity_legends_text">
              Sistemas de Gestão da Operação
            </button>
          </div>
          <div class="maturity_legends_row">
            <button class="maturity_legends_text">Sistemas de Operação</button>
          </div>
          <div class="maturity_legends_row">
            <button class="maturity_legends_text">Automação</button>
          </div>
          <div class="maturity_legends_row">
            <button class="maturity_legends_text">Controle</button>
          </div>
        </div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controles Paralelos em papel e planilhas eletrônicas</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controles Paralelos em papel e planilhas eletrônicas</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Comando Elétrico + Monitoramento baseado em inspeção visual e planilhas eletrônicas</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Inexistente / Monitoramento baseado em inspeção visual e planilhas eletrônicas</button></div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Módulos Isolados implantados (Estoque, MRP, Qualidade por exemplo</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas Isolados (MES,LIMS,PIMS)</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas Isolados (Supervisórios, IHM)</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controladores isolados nas máquinas + Instrumentação conectada ao controle</button></div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Módulos Conectados</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas Conectados com a camada de automação</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas Supervisórios por área / Sala de Controle</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controladores integrados ao supervisório da área + Rede industrial ponto a ponto</button></div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Dashboards de Gestão</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Dashboards da Operação + Sistemas implantados integrados com ERP</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistema Supervisório Centralizado</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controladores integrados ao supervisório centralizado + Rede industrial difundida</button></div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas implantados integrados com a camada de operação</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas implantados integrados com a camada de gestão operação</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controladores integrados ao supervisório centralizado + Rede industrial estruturada e gerenciada</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controladores integrados ao supervisório centralizado + Rede industrial estruturada e gerenciada</button></div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sistemas de Inteligência Artificial, Inferindo e prevendo situações. + Analise de Anomalias</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controle avançado de processo, Predição de Paradas</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Malhas de Controle, PID + Instrumentos Inteligentes (Medição de Energia p. ex.)</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Adoção Global - Todas as plantas + Sensores Inteligentes</button></div>
      </div>
      <div class="maturity_responses_columns">
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Adaptabilidade</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Adaptabilidade</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Controle Inteligentes</button></div>
        <div class="maturity_responses_row"><button class="maturity_responses_text">+ Sensores Inteligentes</button></div>
      </div>
    </div>
  </div>
</div>
