c<div id="page_mip">
  <div class="mmk_container"><%=company%></div>
  <div class="mip_container">
    <div class="mip_rectangle">
      <h3 class="mip_header_obj">OBJETIVOS DE DESEMPENHO</h3>
      <div class="mip_elements_obj">
        <label class="label_3">Custo</label>
        <p class="mip_text">
          Está relacionado ao desejo de produzir com a maior eficiência
          possível, isto é, produzir bens e serviços a custos que possibilite
          estabelecer preços apropriados ao mercado e, ainda, permitir um
          retorno financeiro para a empresa. Ou seja, o ponto máximo entre
          retorno x custo.
        </p>
      </div>
      <div class="mip_elements_obj">
        <label class="label_3">Confiabilidade</label>
        <p class="mip_text">
          É a capacidade que a empresa possui em atender os seus compromissos
          com os clientes, parceiros ou fornecedores em termos de quantidades e
          prazos estabelecidos, ou seja, sem desvios entre o planejado x real.
        </p>
      </div>
      <div class="mip_elements_obj">
        <label class="label_3">Inovação</label>
        <p class="mip_text">
          Está relacionado à capacidade da empresa em apresentar novos produtos
          e/ou serviços.
        </p>
      </div>
      <div class="mip_elements_obj">
        <label class="label_3">Velocidade</label>
        <p class="mip_text">
          É o tempo necessário para a empresa responder a uma determinada nova
          necessidade dos consumidores por um produto e/ou serviço.
        </p>
      </div>
      <div class="mip_elements_obj">
        <label class="label_3">Qualidade</label>
        <p class="mip_text">
          Refere-se à capacidade da produção em contribuir para a valorização da
          imagem da empresa e de seus produtos, por meio de processos de
          fabricação conforme o especificado e com garantia de repetibilidade em
          seus processos.
        </p>
      </div>
      <div class="mip_elements_obj_no_boder">
        <label class="label_3">Flexibilidade</label>
        <p class="mip_text">
          É a capacidade do sistema de manufatura, ou seja, o processo
          produtivo, em adaptar-se rapidamente às mudanças de ambiente. Estas
          mudanças podem ocorrer, seja na demanda, na capacidade, no “mix” ou na
          janela de entrega.
        </p>
      </div>
    </div>
    <div class="mip_rectangle">
      <h3 class="mip_header_MTD">MATRIZ IMPORTÂNCIA x DESEMPENHO</h3>
      <canvas id="mip_canvas"></canvas>
      <span class="dados_canvas ghost"><%=dados%></span>
    </div>
  </div>
</div>
